doctype    
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(http-equiv='X-UA-Compatible' content='IE=edge')        
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')    
    script(src='/javascripts/jquery-2.0.3.min.js')
    script(src='/javascripts/main.js')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css')
    script(src='/javascripts/modernizr.custom.js')
    title #{title}
  body
    div.container
      table.table.table-striped
        tr
          th Student
          th Accounting
          th Finance
          th Marketing
          th Computer Science
          th Architecture
          th Engineering
        tr              
          td Dave
          td
            input(type="checkbox")
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
        tr              
          td Sue
          td
            input(type="checkbox")
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
        tr              
          td Steve
          td
            input(type="checkbox")
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
        tr              
          td Beth
          td
            input(type="checkbox")
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
        tr              
          td Nick
          td
            input(type="checkbox")
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
        tr              
          td Amy
          td
            input(type="checkbox")
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
        tr              
          td Lucy
          td
            input(type="checkbox")
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
        tr              
          td Joey
          td
            input(type="checkbox")
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")    
          td
            input(type="checkbox")
      button.btn.btn-primary Recommend                                                   
    script(src='/bootstrap/js/bootstrap.min.js')              
