doctype    
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(http-equiv='X-UA-Compatible' content='IE=edge')        
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')    
    script(src='/javascripts/jquery-2.0.3.min.js')
    script(src='/javascripts/main.js')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css')
    script(src='/javascripts/modernizr.custom.js')
    title #{title}
  body
    div.container
      form(action='/recommend', method="post")
          table.table.table-striped
            tr
              th Student
              th Accounting
              th Finance
              th Marketing
              th Computer Science
              th Architecture
              th Engineering
            tr              
              td Dave
              td
                input(name="/1/100/5",type="checkbox")
              td
                input(name="/1/101/5",type="checkbox")    
              td
                input(name="/1/102/5",type="checkbox")    
              td
                input(name="/1/103/5",type="checkbox")    
              td
                input(name="/1/104/5",type="checkbox")    
              td
                input(name="/1/105/5",type="checkbox")    
            tr              
              td Sue
              td
                input(name="/2/100/5",type="checkbox")
              td
                input(name="/2/101/5",type="checkbox")    
              td
                input(name="/2/102/5",type="checkbox")    
              td
                input(name="/2/103/5",type="checkbox")    
              td
                input(name="/2/104/5",type="checkbox")    
              td
                input(name="/2/105/5",type="checkbox")        
            tr              
              td Steve
              td
                input(name="/3/100/5",type="checkbox")
              td
                input(name="/3/101/5",type="checkbox")    
              td
                input(name="/3/102/5",type="checkbox")    
              td
                input(name="/3/103/5",type="checkbox")    
              td
                input(name="/3/104/5",type="checkbox")    
              td
                input(name="/3/105/5",type="checkbox")    
            tr              
              td Beth
              td
                input(name="/4/100/5",type="checkbox")
              td
                input(name="/4/101/5",type="checkbox")    
              td
                input(name="/4/102/5",type="checkbox")    
              td
                input(name="/4/103/5",type="checkbox")    
              td
                input(name="/4/104/5",type="checkbox")    
              td
                input(name="/4/105/5",type="checkbox")    
            tr              
              td Nick
              td
                input(name="/5/100/5",type="checkbox")
              td
                input(name="/5/101/5",type="checkbox")    
              td
                input(name="/5/102/5",type="checkbox")    
              td
                input(name="/5/103/5",type="checkbox")    
              td
                input(name="/5/104/5",type="checkbox")    
              td
                input(name="/5/105/5",type="checkbox")        
            tr              
              td Amy
              td
                input(name="/6/100/5",type="checkbox")
              td
                input(name="/6/101/5",type="checkbox")    
              td
                input(name="/6/102/5",type="checkbox")    
              td
                input(name="/6/103/5",type="checkbox")    
              td
                input(name="/6/104/5",type="checkbox")    
              td
                input(name="/6/105/5",type="checkbox")      
            tr              
              td Lucy
              td
                input(name="/7/100/5",type="checkbox")
              td
                input(name="/7/101/5",type="checkbox")    
              td
                input(name="/7/102/5",type="checkbox")    
              td
                input(name="/7/103/5",type="checkbox")    
              td
                input(name="/7/104/5",type="checkbox")    
              td
                input(name="/7/105/5",type="checkbox")       
            tr              
              td Joey
              td
                input(name="/8/100/5",type="checkbox")
              td
                input(name="/8/101/5",type="checkbox")    
              td
                input(name="/8/102/5",type="checkbox")    
              td
                input(name="/8/103/5",type="checkbox")    
              td
                input(name="/8/104/5",type="checkbox")    
              td
                input(name="/8/105/5",type="checkbox")    
          button(type="submit").btn.btn-primary.btn-lg Recommend                                                   
    script(src='/bootstrap/js/bootstrap.min.js')              
