doctype    
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(http-equiv='X-UA-Compatible' content='IE=edge')        
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')    
    script(src='/javascripts/jquery-2.0.3.min.js')
    script(src='/javascripts/main.js')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css')
    script(src='/javascripts/modernizr.custom.js')
    title #{title}
  body
    div.container
      div.jumbotron
        h1 Rcmmndr Results
        p Here are the results for Steve ...
        p 
      a(href="/",role="button").btn.btn-primary.btn-lg Back                                             
    script(src='/bootstrap/js/bootstrap.min.js')              
